footer.footer#footer
	div.container.flex-container.wrap
			.contact__list
				div.contact__item
					div.item__circle
						i.fa.fa-bicycle
					div.item__info 1. Cycling has positive effects on mental health.

				div.contact__item
					div.item__circle
						i.fa.fa-heart
					div.item__info 2. Helps in the fight against cardiovascular diseases.

				div.contact__item
					div.item__circle
						i.fa.fa-medkit
					div.item__info 3. Improves the rider's immunity.

			.map-wrap
				iframe.map-wrap__map#gmap_canvas(frameborder='0' scrolling='no' marginheight='0' marginwidth='0' src='https://maps.google.com/maps?width=520&height=400&hl=en&q=%20New%20York%20City+()&t=&z=12&ie=UTF8&iwloc=B&output=embed')



	a.footer_link_media(target='_blank', href='#' rel="nofollow")
		p.footer__copyright.container Source on GitHub. All rights reserved &copy;

	a.scroll_top(href="#")
			i.fa.fa-chevron-circle-up



