
header.header
	div.container.flex-container
		div.block_logo.flex-container
			span.logo__name Bicycle!World

		.hamburger.hamburger--emphatic
			.hamburger-box
				.hamburger-inner

		ul.nav.flex-container
			li
				a.nav__link#nav__link(href="#bike-canyon") Canyon
			li
				a.nav__link#nav__link(href="#bike-giant") Giant
			li
				a.nav__link#nav__link(href="#bike-cube") Cube
			li
				a.nav__link#nav__link(href="#footer") Info