section.hero
	div.hero__img
		div.hero__overlay 
			div.container.flex-container
				div.hero-block__desc
					h1.hero__headline Nothing beats simple pleasure bike ride.
				ul.hero-block__brand
						li.brand-name__canyon
							span.brand-name__text Giant

						li.brand-name__giant
							span.brand-name__text Canyon
	
						li.brand-name__cube
							span.brand-name__text Cube