section.section
	div.container
		section.info_block
			div.item
				div.item__wrapper
					div#bike-canyon.item__headline welcome to
					h2.item__subtitle canyon cycling world
					hr.item__line
					p.item__desc In 1985 Roman Arnold and his brother Franc Arnold (who is no longer involved with the company) founded 'Radsport Arnold' GmbH as a supplier of bike parts for cycling. It wasn't until 1996 that the first bikes with the brand name Canyon appeared. Radsport Arnold adopted a direct sales strategy via the Internet. In 2001 the company took the step from being a supplier to becoming a cycle manufacturer and changed its name to Canyon Bicycles GmbH. With Lutz Scheffer (formerly Bergwerk and Votec) Canyon was able to secure the services of a frame designer. In the next few years the firm based in Koblenz, Germany was able to hire Hans Christian Smolik along with other bicycle construction experts.
				    	
			div.item.overlay
				img(src="../img/canyon_bike.jpg", alt="canyon_bike" class="img-fit")
				div.item__overlay_blue
					span.item__name canyon

	div.item__catalog.overlay
		div.item__catalog_headline Bike Canyon
		a.item__catalog_btn(href="https://www.canyon.com/" target="_blank") view website
	
	div.container
		section.info_block
			div.item
				div.item__wrapper.padding_left
					div#bike-giant.item__headline welcome to
					h2.item__subtitle giant cycling world
					hr.item__line
					p.item__desc Giant was established in 1972 in Dajia, Taichung County (now part of Taichung City), by King Liu and several friends.[who?] A major breakthrough came in 1977 when Giant’s chief executive, Tony Lo, negotiated a deal with Schwinn to begin manufacturing bikes as an OEM, manufacturing bicycles to be sold exclusively under other brand names as a private label. As bike sales increased in the U.S., and after workers at the Schwinn plant in Chicago went on strike in 1980, Giant became a key supplier, making more than two-thirds of Schwinn bikes by the mid-1980s, representing 75% of Giant’s sales. When Schwinn decided to find a new source and in 1987 signed a contract with the China Bicycle Company.

			div.item.overlay
				img(src="../img/giant_bike.jpg", alt="giant_bike" class="img-fit")
				div.item__overlay_blue
					span.item__name giant


	div.item__catalog_giant.overlay
		div.item__catalog_headline Bike Giant  
		a.item__catalog_btn(href="https://www.giant-bicycles.com/global" target="_blank") view website

	div.container
		section.info_block
			div.item
				div.item__wrapper
					div#bike-cube.item__headline welcome to
					h2.item__subtitle Cube cycling world
					hr.item__line
					p.item__desc The company was founded 1993 by the former student Marcus Pürner, who began with an area of 50 m² in his father's furniture factory in Waldershof, Germany.[1] The company has expanded its production area to 55,000 m²[2] and sells to more than 60 countries all over the world. Cube bikes are a fixture on the 2017 Tour de France and 2018 Tour de France with the Belgian UCI Professional Continental team Wanty–Groupe Gobert. The current product range consists of various types of mountainbikes, road bikes, cross bikes, triathlon bikes, e-bikes as well as trekking bikes. Ergonomically fitted women´s bikes, bikes for kids, wear and accessories complete the product line-up.
				    	

			div.item.overlay
				img(src="../img/cube_bike.jpg", alt="cube_bike" class="img-fit")
				div.item__overlay_blue
					span.item__name Cube

	div.item__catalog_cube.overlay
		div.item__catalog_headline Bike Cube
		a.item__catalog_btn(href="https://www.cube.eu/" target="_blank") view website

	div.container
	div.tutorial__wrap
			img.tutorial__laptop(src="../img/laptop.png", alt="laptop")
			video#video.tutorial__video(poster='../img/tutorial.jpg')
				source(src="../video/HowtoBuyaMountainBike.mp4" tupe="video/mp4")


